In [1]:
import pandas as pd 
from datetime import datetime
import numpy as np 
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
Standard_Poors = pd.read_csv("C:/Users/Nicolas/Documents/sphist.csv")
Standard_Poors[0:10]
Standard_Poors["Date"] = pd.to_datetime(Standard_Poors["Date"])

In [2]:
#Sort the Standard_Poors dataframe on the Date column
Standard_Poors = Standard_Poors.sort_values(by="Date")
Standard_Poors.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999

I will compute some indicators over the Standard_Poors data frame that will be the features of the model, then  I will use these indicators with the target variable to fit the model. These indicators are Average price from the past 5 days, average price from the past 30 days, standard deviation of the price over the past 365 days, average volume for the past 5 days,  standard deviation of the volume for the past 5 days.


 In all of these indicators it is necessary to use the method shift due to not include the current row in the 
value of the indicator. The model must learn how to predict the current price with historical prices.

In [3]:
# 5 days average close price.   
average_5 = Standard_Poors["Close"].rolling(center=False,window=5).mean()
Standard_Poors.head(10)
average_5 = average_5.shift(periods=1)
Standard_Poors["average_5"] = average_5 
Standard_Poors[0:10]

,Date,Open,High,Low,Close,Volume,Adj Close,average_5
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926

In [4]:
# 30 days average close price.
average_30 = Standard_Poors["Close"].rolling(center=False,window=30).mean()
average_30 = average_30.shift(periods=1)
Standard_Poors["average_30"] = average_30
Standard_Poors[0:10]

,Date,Open,High,Low,Close,Volume,Adj Close,average_5,average_30
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926,NaN

In [5]:
# standard deviation of the price over 365 last days. 
std_365 = Standard_Poors["Close"].rolling(center=False,window= 365).std()
std_365 = std_365.shift(periods=1)
Standard_Poors["std_365"] = std_365 
Standard_Poors

,Date,Open,High,Low,Close,Volume,Adj Close,average_5,average_30,std_365
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2.160000e+06,17.030001,16.900000,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2.630000e+06,17.090000,16.974000,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2.970000e+06,16.760000,17.022000,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3.330000e+06,16.670000,16.988000,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1.460000e+06,16.719999,16.926000,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1.790000e+06,16.860001,16.854000,NaN,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1.570000e+06,16.850000,16.820000,NaN,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1.170000e+06,16.870001,16.772000,NaN,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1.440000e+06,16.900000,16.794000,NaN,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1.340000e+06,16.920000,16.840000,NaN,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1.250000e+06,16.860001,16.880000,NaN,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1.700000e+06,16.740000,16.880000,NaN,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1.150000e+06,16.730000,16.858000,NaN,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1.250000e+06,16.820000,16.830000,NaN,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1.640000e+06,17.020000,16.814000,NaN,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1.690000e+06,17.049999,16.834000,NaN,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1.810000e+06,17.049999,16.872000,NaN,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2.040000e+06,17.230000,16.934000,NaN,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2.210000e+06,17.290001,17.034000,NaN,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1.490000e+06,17.320000,17.128000,NaN,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1.360000e+06,17.230000,17.188000,NaN,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1.470000e+06,17.209999,17.224000,NaN,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1.810000e+06,17.280001,17.256000,NaN,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1.790000e+06,17.240000,17.266000,NaN,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2.210000e+06,17.059999,17.256000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,69.339351
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,68.910320
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,68.507660
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,68.192017
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,67.794466
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,67.457028
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,67.203323
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,67.005620
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,66.836206
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,66.644825
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,66.495490
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,66.308258
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,66.130388
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,65.932822
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,65.713193
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,65.540308
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,65.406655
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,65.275567
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,65.189294
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,65.071007
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,64.911334
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,64.768328
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,64.634873
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,64.514871
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,64.449800
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,64.370261
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,64.352527
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,64.277554
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,64.121622
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,64.058862

In [6]:
# average volume of the past 5 days
average_volume_5 = Standard_Poors["Volume"].rolling(center=False,window=5).mean()
average_volume_5 = average_volume_5.shift(periods=1)
Standard_Poors["average_volume_5"] = average_volume_5

In [7]:
# standard deviation of the volume of the past 5 days 
std_average_volume_5 = Standard_Poors["Volume"].rolling(center=False,window=5).std()
std_average_volume_5 = std_average_volume_5.shift(periods=1)
Standard_Poors["std_average_volume_5"] = std_average_volume_5 
Standard_Poors.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,average_5,average_30,std_365,average_volume_5,std_average_volume_5
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,64.370261,3.207544e+09,1.099518e+09
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,64.352527,3.232372e+09,1.111591e+09
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,64.277554,3.245514e+09,1.121578e+09
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,64.121622,3.536224e+09,1.181180e+09
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,64.058862,4.085838e+09,2.493154e+08

In [8]:
# The indicators above are the features of the model. Some of these indicators need 1 year of prices to compute. 
# For this reason is necessary to remove rows before 1951-01-03 because these rows contain missing values fore these 
# indicators.  
Standard_Poors = Standard_Poors[Standard_Poors["Date"] > datetime(year=1951, month=1, day=2)]

# To train the model is necessary to drop any missing value in the dataset.
Standard_Poors = Standard_Poors.dropna(axis=0)

# Generate the train and test dataframes to make predictions of the close values of the Standard&Poors index.
train = Standard_Poors[Standard_Poors["Date"] < datetime(year=2013, month=1, day=1)]
test = Standard_Poors[Standard_Poors["Date"] >= datetime(year=2013, month=1, day=1)]
test

,Date,Open,High,Low,Close,Volume,Adj Close,average_5,average_30,std_365,average_volume_5,std_average_volume_5
738,2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,4.202600e+09,1462.420044,1418.641992,1414.258667,90.463948,2.399036e+09,7.366851e+08
737,2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,3.829730e+09,1459.369995,1425.793994,1417.676668,90.738976,2.989764e+09,7.674944e+08
736,2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,3.424290e+09,1466.469971,1433.702002,1420.092668,90.995857,3.298704e+09,7.224721e+08
735,2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,3.304970e+09,1461.890015,1443.376001,1422.714665,91.279049,3.417526e+09,6.733364e+08
734,2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,3.601600e+09,1457.150024,1455.267993,1425.076664,91.544368,3.593184e+09,4.153739e+08
733,2013-01-09,1457.150024,1464.729980,1457.150024,1461.020020,3.674390e+09,1461.020020,1461.460010,1426.676664,91.790064,3.672638e+09,3.561743e+08
732,2013-01-10,1461.020020,1472.300049,1461.020020,1472.119995,4.081840e+09,1472.119995,1461.180005,1428.500997,92.039724,3.566996e+09,2.066293e+08
731,2013-01-11,1472.119995,1472.750000,1467.579956,1472.050049,3.340650e+09,1472.050049,1463.730005,1430.940332,92.328364,3.617418e+09,2.975340e+08
730,2013-01-14,1472.050049,1472.050049,1465.689941,1470.680054,3.003010e+09,1470.680054,1464.846021,1433.010999,92.604925,3.600690e+09,3.130531e+08
729,2013-01-15,1470.670044,1473.310059,1463.760010,1472.339966,3.135350e+09,1472.339966,1466.604028,1434.835335,92.865801,3.540298e+09,4.011060e+08
728,2013-01-16,1472.329956,1473.959961,1467.599976,1472.630005,3.384080e+09,1472.630005,1469.642017,1436.707332,93.070677,3.447048e+09,4.359734e+08
727,2013-01-17,1472.630005,1485.160034,1472.630005,1480.939941,3.706710e+09,1480.939941,1471.964014,1438.813000,93.286372,3.388986e+09,4.170479e+08
726,2013-01-18,1480.949951,1485.979980,1475.810059,1485.979980,3.795740e+09,1485.979980,1473.728003,1441.275997,93.350913,3.313960e+09,2.685485e+08
725,2013-01-22,1485.979980,1492.560059,1481.160034,1492.560059,3.570950e+09,1492.560059,1476.513989,1443.832662,93.428505,3.404978e+09,3.458509e+08
724,2013-01-23,1492.560059,1496.130005,1489.900024,1494.810059,3.552010e+09,1494.810059,1480.889990,1446.453333,93.116733,3.518566e+09,2.645320e+08
723,2013-01-24,1494.810059,1502.270020,1489.459961,1494.819946,3.699430e+09,1494.819946,1485.384009,1449.011336,93.100919,3.601898e+09,1.576797e+08
722,2013-01-25,1494.819946,1503.260010,1494.819946,1502.959961,3.476290e+09,1502.959961,1489.821997,1451.553666,92.785839,3.664968e+09,1.020174e+08
721,2013-01-28,1502.959961,1503.229980,1496.329956,1500.180054,3.388540e+09,1500.180054,1494.226001,1454.057666,92.791199,3.618884e+09,1.273465e+08
720,2013-01-29,1500.180054,1509.349976,1498.089966,1507.839966,3.949640e+09,1507.839966,1497.066016,1456.447668,92.804047,3.537444e+09,1.156357e+08
719,2013-01-30,1507.839966,1509.939941,1500.109985,1501.959961,3.726810e+09,1501.959961,1500.121997,1459.394002,92.958057,3.613182e+09,2.199933e+08
718,2013-01-31,1501.959961,1504.189941,1496.760010,1498.109985,3.999880e+09,1498.109985,1501.551978,1462.340002,93.026754,3.648142e+09,2.217242e+08
717,2013-02-01,1498.109985,1514.410034,1498.109985,1513.170044,3.836320e+09,1513.170044,1502.209985,1464.598336,93.074539,3.708232e+09,2.737159e+08
716,2013-02-04,1513.170044,1513.170044,1495.020020,1495.709961,3.390000e+09,1495.709961,1504.252002,1466.811003,92.912799,3.780238e+09,2.430878e+08
715,2013-02-05,1495.709961,1514.959961,1495.709961,1511.290039,3.618360e+09,1511.290039,1503.357983,1468.807666,92.548856,3.780530e+09,2.424998e+08
714,2013-02-06,1511.290039,1512.530029,1504.709961,1512.119995,3.611570e+09,1512.119995,1504.047998,1471.061003,92.248025,3.714274e+09,2.296608e+08
713,2013-02-07,1512.119995,1512.900024,1498.489990,1509.390015,3.614580e+09,1509.390015,1506.080005,1473.793335,92.170467,3.691226e+09,2.338328e+08
712,2013-02-08,1509.390015,1518.310059,1509.390015,1517.930054,2.986150e+09,1517.930054,1508.336011,1476.551001,92.149537,3.614166e+09,1.578190e+08
711,2013-02-11,1517.930054,1518.310059,1513.609985,1517.010010,2.684100e+09,1517.010010,1509.288013,1479.821004,92.064416,3.444132e+09,2.739166e+08
710,2013-02-12,1517.010010,1522.290039,1515.609985,1519.430054,3.414370e+09,1519.430054,1513.548023,1483.118005,92.058230,3.302952e+09,4.402217e+08
709,2013-02-13,1519.430054,1524.689941,1515.930054,1520.329956,3.385880e+09,1520.329956,1515.176026,1487.018005,92.209054,3.262154e+09,4.122469e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,69.339351,3.757184e+09,4.989846e+08
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,68.910320,3.776880e+09,4.772727e+08
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,68.507660,3.953956e+09,4.329012e+08
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,68.192017,4.168020e+09,4.919039e+08
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,67.794466,4.083638e+09,4.713022e+08
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,67.457028,4.113186e+09,4.778334e+08
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,67.203323,4.188030e+09,3.467445e+08
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,67.005620,4.199066e+09,3.487645e+08
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,66.836206,4.075218e+09,2.093186e+08
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,66.644825,4.083808e+09,2.067847e+08
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,66.495490,4.106372e+09,2.345852e+08
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,66.308258,4.130838e+09,1.919336e+08
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,66.130388,4.040714e+09,2.136152e+08
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,65.932822,3.963422e+09,2.610150e+08
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,65.713193,3.956318e+09,2.584763e+08
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,65.540308,3.938264e+09,2.231870e+08
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,65.406655,3.910042e+09,2.402912e+08
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,65.275567,4.031224e+09,3.229904e+08
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,65.189294,4.078020e+09,2.750169e+08
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,65.071007,4.000368e+09,3.431495e+08
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,64.911334,3.930538e+09,3.058336e+08
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,64.768328,3.899886e+09,3.357645e+08
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,64.634873,3.791402e+09,1.689029e+08
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,64.514871,3.576712e+09,4.318978e+08
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,64.449800,3.144458e+09,1.032091e+09
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,64.370261,3.207544e+09,1.099518e+09
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,64.352527,3.232372e+09,1.111591e+09
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,64.277554,3.245514e+09,1.121578e+09
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,64.121622,3.536224e+09,1.181180e+09
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,64.058862,4.085838e+09,2.493154e+08

In [9]:
# In this step, I will fit the model with the LinearRegression classifier. We are trying to predict the close value 
# of the Standard and Poors index. So the target of the model is the "Close" Column and the features that I will use
# in this step are the average_5, average_30, std_365 that are already calculated above.
lr = LinearRegression()
X_train = train[["average_5","average_30","std_365"]]
Y_train = train["Close"]

lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [10]:
# Make Predictions using the test dataset and the features average_5, average_30 and std_365

X_test = test[["average_5","average_30","std_365"]] # The test dataframe with the predictors, that will use to predict the target value
Y_test = test["Close"]                              # The labels of the model

close_predictions = lr.predict(X_test)              # Will predict the close values of the index in the test dataframe

print(close_predictions[0:5])
print(Y_test[0:5])

[ 1419.04352695  1426.48993301  1434.83133283  1445.06173129  1457.70537507]
738    1462.420044
737    1459.369995
736    1466.469971
735    1461.890015
734    1457.150024
Name: Close, dtype: float64

In [11]:
#Compute the Mean Absolute Error of the model
mae = sum(abs(close_predictions - test["Close"].values)) / test.shape[0]
print(len(close_predictions))
print(mae)

739
16.1751860306

The model yield a Mean Absolute Error of 16.1751. The MAE is the mean absolute value of the differences between the predictions and the real value of the target variable. This metric is more intuitive than others such as the Mean Squared Error, in terms of how close the predictions were to the real price.

In [12]:
# In this step, I will add 2 more features to the model, and observe if the error metric can be reduced. These features are the 
# average 5 days volume (average_volume_5) and the standard deviation of the 5 days volume(std_average_volume_5) of the S&P index.
# Volume is the amount of trading contracts(buy and sell) of the index in a given day. The average volume of the Standard and Poors
# could be important to identify accumulations and distributions days of the index that can be used to get a sense of the momentum of the index in a certain time 
# and predict future movements.

X_train = train[["average_5","std_365","average_30","average_volume_5","std_average_volume_5"]]
Y_train = train["Close"]
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
X_test = test[["average_5","std_365","average_30","average_volume_5","std_average_volume_5"]]

close_predictions = lr.predict(X_test)
print(close_predictions[0:5])
print(test["Close"][0:5])

[ 1419.81293286  1427.03538229  1435.15698612  1445.24867873  1457.37911975]
738    1462.420044
737    1459.369995
736    1466.469971
735    1461.890015
734    1457.150024
Name: Close, dtype: float64

In [14]:
#Compute the Mean Absolute Error including the new features in the model
mae = sum(abs(close_predictions - test["Close"].values)) / test.shape[0]
print(mae)

16.2438368608

With the two new features that were incorporated to the model the error of the model go up some amount, from 16.17 to 16.24. This imply that the new features doesn´t improve the performance of the model, and it will be necessary to do some research in the features side in order to minimize the error metric.

In [15]:
# In this step, I will predict the price of the Standard & Poors Index only one day ahead instead along the entire test
# dataframe.The approach that I will take is to start with the train dataset up to the date 2013-01-03 and within a 
# for loop with the length of the test dataframe, increment the train dataset by one day, create a new test dataframe
# that take one row of the  Standard_Poors with the current date, fit a new model and making a prediction for the 
# following day
import numpy as np
import datetime
from datetime import timedelta
from sklearn.metrics import mean_absolute_error

train = Standard_Poors[Standard_Poors["Date"] < datetime.datetime(year=2013, month=1, day=3)]
test_one_day = Standard_Poors[Standard_Poors["Date"] == datetime.datetime(year=2013, month=1, day=3)]



lr.fit(train[["average_5","average_30","std_365","average_volume_5","std_average_volume_5"]],train["Close"])   
prediction = lr.predict(test_one_day[["average_5","average_30","std_365","average_volume_5","std_average_volume_5"]])

date = datetime.datetime(year= 2013, month= 1, day=2)
mae = []
for i in range(0,len(test)):
    date += datetime.timedelta(days=1)
    train = Standard_Poors[Standard_Poors["Date"] < date]
    try:
        test_one_day = Standard_Poors[Standard_Poors["Date"] == date]
        lr.fit(train[["average_5","average_30","std_365","average_volume_5","std_average_volume_5"]],train["Close"])
        prediction = lr.predict(test_one_day[["average_5","average_30","std_365","average_volume_5","std_average_volume_5"]])                    
        mae.append(abs(prediction - test_one_day["Close"].values))

    except:
        pass

mae = np.mean(mae)
print(mae)

14.5947407258

When I use a dynamic train set of features and predict the next day over the test set, the mae fall to 14.5947. This error metric is sensible less than the one that I get when the predictions was for the total test set.

In [16]:
# In this step, I would predict the direction of the Standard_Poor index using the Random Forest Classifier. First, I downloaded the data and 
# read as a data frame in Pandas to start generate the features.

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

Standard_Poors = pd.read_csv("C:/Users/Nicolas/Documents/sphist.csv")
Standard_Poors["Date"] = pd.to_datetime(Standard_Poors["Date"])

#Sort the Standard_Poors dataframe on the Date column
Standard_Poors = Standard_Poors.sort_values(by="Date")

In [17]:
# The next step I would try is to use the Random Forest Classifier and evaluate it performance. In this case, 
# I will choose the lagged percent changes of the prices as predictable indicators or features
# Create the shifted lag series of prior trading period close values 

for i in range(0, 5): 
    Standard_Poors["Lag%s" % str(i+1)] = Standard_Poors["Adj Close"].shift(i+1)
Standard_Poors[0:10]

,Date,Open,High,Low,Close,Volume,Adj Close,Lag1,Lag2,Lag3,Lag4,Lag5
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,16.660000,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,16.850000,16.660000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,16.930000,16.850000,16.660000,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,16.980000,16.930000,16.850000,16.660000,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,17.080000,16.980000,16.930000,16.850000,16.66
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,17.030001,17.080000,16.980000,16.930000,16.85
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.090000,17.030001,17.080000,16.980000,16.93
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.760000,17.090000,17.030001,17.080000,16.98
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.670000,16.760000,17.090000,17.030001,17.08

In [18]:
# Create a column with the returns of the Standard and Poors
Standard_Poors["return"] = Standard_Poors["Close"].pct_change()*100

In [19]:
# Replace all the cero values in the return column of the Standard_Poors DataFrame with 0.0001 in order to allow make calculations with the return column
Standard_Poors.loc[Standard_Poors["return"] == 0,"return"] = 0.0001

In [20]:
# Create columns with the lagged returns of the Standard_Poors dataframe
for i in range(0, 5): 
    Standard_Poors["lagged_return%s" % str(i+1)] =  Standard_Poors["Lag%s" % str(i+1)].pct_change()*100.0
#Standard_Poors[["Adj Close","return","lagged_return1","lagged_return2","lagged_return3","lagged_return4","lagged_return5"]]
Standard_Poors[0:10]

,Date,Open,High,Low,Close,Volume,Adj Close,Lag1,Lag2,Lag3,Lag4,Lag5,return,lagged_return1,lagged_return2,lagged_return3,lagged_return4,lagged_return5
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,16.660000,NaN,NaN,NaN,NaN,1.140456,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,16.850000,16.660000,NaN,NaN,NaN,0.474777,1.140456,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,16.930000,16.850000,16.660000,NaN,NaN,0.295334,0.474777,1.140456,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,16.980000,16.930000,16.850000,16.660000,NaN,0.588928,0.295334,0.474777,1.140456,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,17.080000,16.980000,16.930000,16.850000,16.66,-0.292734,0.588928,0.295334,0.474777,1.140456,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,17.030001,17.080000,16.980000,16.930000,16.85,0.352314,-0.292734,0.588928,0.295334,0.474777,1.140456
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.090000,17.030001,17.080000,16.980000,16.93,-1.930954,0.352314,-0.292734,0.588928,0.295334,0.474777
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.760000,17.090000,17.030001,17.080000,16.98,-0.536993,-1.930954,0.352314,-0.292734,0.588928,0.295334
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.670000,16.760000,17.090000,17.030001,17.08,0.299934,-0.536993,-1.930954,0.352314,-0.292734,0.588928

In [21]:
# Create the column direction that will be the target variable of the model and can take a 
# value of 1 or -1. If the percentage change of the return is positive, the value of column Direction will be 1, and if the percentage
# change is negative, the value of the column Direction will be -1.
Standard_Poors["Direction"] = np.sign(Standard_Poors["return"])
Standard_Poors[0:10]

,Date,Open,High,Low,Close,Volume,Adj Close,Lag1,Lag2,Lag3,Lag4,Lag5,return,lagged_return1,lagged_return2,lagged_return3,lagged_return4,lagged_return5,Direction
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,16.660000,NaN,NaN,NaN,NaN,1.140456,NaN,NaN,NaN,NaN,NaN,1.0
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,16.850000,16.660000,NaN,NaN,NaN,0.474777,1.140456,NaN,NaN,NaN,NaN,1.0
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,16.930000,16.850000,16.660000,NaN,NaN,0.295334,0.474777,1.140456,NaN,NaN,NaN,1.0
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,16.980000,16.930000,16.850000,16.660000,NaN,0.588928,0.295334,0.474777,1.140456,NaN,NaN,1.0
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,17.080000,16.980000,16.930000,16.850000,16.66,-0.292734,0.588928,0.295334,0.474777,1.140456,NaN,-1.0
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,17.030001,17.080000,16.980000,16.930000,16.85,0.352314,-0.292734,0.588928,0.295334,0.474777,1.140456,1.0
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.090000,17.030001,17.080000,16.980000,16.93,-1.930954,0.352314,-0.292734,0.588928,0.295334,0.474777,-1.0
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.760000,17.090000,17.030001,17.080000,16.98,-0.536993,-1.930954,0.352314,-0.292734,0.588928,0.295334,-1.0
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.670000,16.760000,17.090000,17.030001,17.08,0.299934,-0.536993,-1.930954,0.352314,-0.292734,0.588928,1.0

In [22]:
# Generate the train and test data frames with the new features and target. The predictors of the models will be 
# the lagged_return1 and lagged_return2 indicators of the percentage change of the price.
from datetime import datetime
Standard_Poors = Standard_Poors[Standard_Poors["Date"] > datetime(year=1951, month=1, day=2)]

# Drop any missing value to fit the model
Standard_Poors = Standard_Poors.dropna(axis=0)

train_rf = Standard_Poors[Standard_Poors["Date"] < datetime(year=2013, month=1, day=1)]
test_rf = Standard_Poors[Standard_Poors["Date"] >= datetime(year=2013, month=1, day=1)]

X_train = train_rf[["lagged_return1","lagged_return2"]]
y_train = train_rf["Direction"]
X_test = test_rf[["lagged_return1","lagged_return2"]]
y_test = test_rf["Direction"]
train_rf.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Lag1,Lag2,Lag3,Lag4,Lag5,return,lagged_return1,lagged_return2,lagged_return3,lagged_return4,lagged_return5,Direction
16339,1951-01-03,20.690001,20.690001,20.690001,20.690001,3370000.0,20.690001,20.770000,20.430000,20.379999,20.299999,19.920000,-0.385166,1.664219,0.245343,0.394089,1.907626,-0.747384,-1.0
16338,1951-01-04,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,20.690001,20.770000,20.430000,20.379999,20.299999,0.869985,-0.385166,1.664219,0.245343,0.394089,1.907626,1.0
16337,1951-01-05,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,20.870001,20.690001,20.770000,20.430000,20.379999,0.000100,0.869985,-0.385166,1.664219,0.245343,0.394089,1.0
16336,1951-01-08,21.000000,21.000000,21.000000,21.000000,2780000.0,21.000000,20.870001,20.870001,20.690001,20.770000,20.430000,0.622899,0.000000,0.869985,-0.385166,1.664219,0.245343,1.0
16335,1951-01-09,21.120001,21.120001,21.120001,21.120001,3800000.0,21.120001,21.000000,20.870001,20.870001,20.690001,20.770000,0.571433,0.622899,0.000000,0.869985,-0.385166,1.664219,1.0

In [23]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [24]:
predictions = clf.predict(X_test)
print(predictions[0:20])
accuracy = clf.score(X_test,y_test)
accuracy

[ 1.  1.  1.  1. -1.  1.  1.  1. -1.  1.  1.  1.  1. -1. -1. -1. -1. -1.
 -1.  1.]

0.48579161028416779

In [25]:
# Asses the accuracy with the confussion matrix metric that the sklearn library provide
confusion_matrix(predictions,y_test)

array([[169, 212],
       [168, 190]])

The confusion matrix show that the RandomForestClasiffier has more probability of correct predict when the market goes down than when the market go up. The matrix show that the algorithm predict 190 times the correct direction of the market when the market go down while 168 times predict incorreclty classified down periods.

In the other hand when the market go up, 169 times the classifier predict correct up periods, while 212 the classifier incorrectly predict up periods(predict that the market go down when the market go up).